<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" default-autowire="byType"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans     
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/mvc 
        http://www.springframework.org/schema/mvc/spring-mvc.xsd
        http://www.springframework.org/schema/context 
        http://www.springframework.org/schema/context/spring-context.xsd">

	<context:annotation-config />
	<context:component-scan base-package="org.lemanoman.testeweb.configuration" />
	<context:component-scan base-package="org.lemanoman.testeweb.controller" />
	<context:component-scan base-package="org.lemanoman.testeweb.restcontroller" />
	<context:component-scan base-package="org.lemanoman.testeweb.dao" />
	<context:component-scan base-package="org.lemanoman.testeweb.service" />
	
	<!-- SpringMVC -->
	<import resource="spring-mvc.xml" />
 
	<!-- SpringJDBC -->
	<import resource="spring-sqllite.xml" />
	
</beans>