<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<link href="resources/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
		
		<script src="resources/lib/angularjs/angular.min.js"></script>
		
		<script src="resources/lib/jquery/jquery-1.11.3.min.js"></script>
		
		<script src="resources/lib/bootstrap/js/bootstrap.min.js"></script>
	</head>	
	
	<body>
	
		<div ng-app="myApp" ng-controller="seriesCtrl">
			<div ng-show="isRunning"> 
				{{jsonData.file}}
				{{jsonData.filepatharg}}
				{{jsonData.positionstring}}
				{{lastPos}}
				{{jsonData.duration}}
				{{totalPlayed}}
			</div>
			<div class="row">
				<div class="col-lg-6  col-sm-12">
					<div ng-repeat="serie in seriesList"> 
						<button class="btn btn-default" style="width:100%;padding:10px;" ng-click="selecionarSerie(serie)">{{serie.name}}</button>
					</div>
				</div>
				<div class="col-lg-6  col-sm-12">
					<div ng-show="isSerieSelecionada">
						<div ng-repeat="file in selectedSerie.files">
							<button class="btn btn-default" ng-click="play(file)">{{selectedSerie.name+' - '+file.episodio}}</button>
						</div>
					</div>
				</div>
			</div>	
			
		</div>
		
		<script>
			var app = angular.module('myApp', []);
			app.controller('seriesCtrl', function($scope, $http,$interval) {
				$scope.isSerieSelecionada = false;
				
				$http.get('/TesteWebaMaven/listarSeries').success(function(response) {
					$scope.seriesList = response;
				});	
				
				
				
				$scope.selecionarSerie = function(obj){
					$scope.selectedSerie = obj;
					$scope.isSerieSelecionada = true;
				};
				
				$scope.play = function(episodio){
					console.log(episodio);
					$http.post('/TesteWebaMaven/play',episodio).success(function(response) {
						$scope.playSession(episodio);
					});	
				};
				
				$scope.playSession = function(episodio){
					
					var delay = 3000;
					var increment = 1000;
					$scope.isRunning = false;
					
					$scope.lastPos = 0;
					$http.get('/TesteWebaMaven/statusMPHC').success(function(response) {
						$scope.jsonData = response;
						$scope.totalPlayed = 0;
						
						console.log(response);
						$interval(function() {
							$http.get('/TesteWebaMaven/statusMPHC').success(function(response) {
								console.log("LOOP",response);
								if(response.statusType=="RUNNING"){
									$scope.jsonData = response;
									$scope.isRunning = true;
									$scope.lastPos = Number(response.position);
									
									var objects = {
										media:episodio,
										status:response
									};
									
									$http.post('/TesteWebaMaven/saveHistory',objects,{}).success(function(response) {
									});
								}else{
									$scope.isRunning = false;
								}
							});
							
						}, delay);
						
						$interval(function() {
							if($scope.isRunning){
								$scope.lastPos += increment;
								$scope.totalPlayed = Number(($scope.lastPos/$scope.jsonData.duration)*100).toFixed(1);
								if($scope.totalPlayed>=100){
									$http.get('/TesteWebaMaven/statusMPHC').success(function(response) {
										if(response.statusType=="RUNNING"){
											console.log("LOOP 2",response);
											$scope.isRunning = true;
											$scope.jsonData = response;
											$scope.lastPos = Number(response.position);
										}else{
											$scope.isRunning = false;
										}	
									});	
								}
							}	
						}, increment); 
					});
					
				};
				
			});
		</script>
		
	</body>
</html>
