.botaoVoltar{
	float: right;
   	position: relative;
   	top: -8px;
}
.serieItem{
	margin-bottom:10px;
}
.lastWatched{
	color:red;
	background-color: red !important;
}
.botaoPlay{
	margin:0 auto;
	display:block;
	width:80%;
}
.botaoPlayLastWatched{
	margin:0 auto;
	display:block;
	width:80%;
	background-color: green;
}