<!DOCTYPE html>
<html>
	<head ng-app="MainModule">
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<link href="js/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
		
		<script src="js/lib/angularjs/angular.min.js"></script>
		
		<script src="js/lib/jquery/jquery-1.11.3.min.js"></script>
		
		<script src="js/lib/bootstrap/js/bootstrap.min.js"></script>
		
		<script src="js/geral/main-module.js"></script>
		<script src="js/geral/main-controller.js"></script>
		<script src="js/geral/main-service.js"></script>
		
		<script src="js/pages/home/home-controller.js"></script>
		<script src="js/pages/home/home-service.js"></script>
	</head>	
	
	<body>
	
		<div ng-controller="HomeController">
			<div ng-show="isRunning"> 
				{{jsonData.file}}
				{{jsonData.filepatharg}}
				{{jsonData.positionstring}}
				{{lastPos}}
				{{jsonData.duration}}
				<div class="progress">
				  <div class="progress-bar" role="progressbar" aria-valuenow="{{totalPlayed}}" aria-valuemin="0" aria-valuemax="100" style="min-width: 2em; width: {{totalPlayed}}%;">
				    {{totalPlayed}}
				  </div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-6  col-sm-12">
					<div ng-repeat="serie in seriesList"> 
						<button class="btn btn-default" style="width:100%;padding:10px;" ng-click="selecionarSerie(serie)">{{serie.name}}</button>
					</div>
				</div>
				<div class="col-lg-6  col-sm-12">
					<div ng-show="isSerieSelecionada">
						<div ng-repeat="file in selectedSerie.files">
							<button class="btn btn-default" ng-click="play(file)">{{selectedSerie.name+' - '+file.episodio}}</button>
						</div>
					</div>
				</div>
			</div>	
			<a href="index.html">
				<button class="btn btn-default" style="width:100%;padding:10px;">Voltar</button>
			</a>
		</div>
	</body>
</html>
